.carousel-title {
  padding: 0;
}

.backImage {
  background-repeat: no-repeat;
}

.title-banner {
  height: 1pc;
  padding-bottom: 10px;
}

.carousel-title p {
  padding-left: 20px;
  font-size: 15px;
}

.contentStyle {
  height: 150px;
  color: #fff;
  line-height: 80px;
  padding: 37px;
}
