.table {
  padding: 40px;
  width: 95%;
  background-color: #181616;
  margin: 20px;
  border-radius: 15px;
}

#table-music:hover {
  background-color: #2f2739;
}

.cell-title {
  width: 40pc;
}
/*-------------------------Scroll------------------------------------*/
.tableScroll {
  padding: 40px;
  width: 75%;
  background-color: #181616;
  margin: 0px;
  border-radius: 15px;
  height: 27pc;
  overflow: scroll;
}
.cellScroll-title {
  width: 25pc;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tableScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tableScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
